body {
  background-color: lightblue;
}
img {
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  text-align: center;
  font-size: 48px;
}
h2 {
  font-size: 36px;
  text-align: center;
}
p {
  text-align: center;
  font-size: 18px;
}
.amount {
  font-style: italic;
}
.bold-p {
  font-weight: bold;
}
.container {
  text-align: center;
}
ul,
ol {
    display: inline-block;
    text-align: left;
}
li{
    font-size: 18px;
}
